@font-face {
    font-family: 'Trajan';
    src: url('../src/goudytrajan-regular-trial-webfont.otf') format('otf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rotters';
    src: url("../src/Rotters.otf") format("opentype");
}

#picturecard{
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  opacity: 0.8;
  filter: alpha(opacity=50);
  background-image: url("https://images.unsplash.com/photo-1508865054876-0a6570484861?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80");
}

nav ul li a {
  color:black;
}
nav ul li a:hover{
  color:white;
}
#booknow,#albumsandevents{
    margin-top:25px;
    margin-bottom:25px;
}
.btn-large{
  color: #8d6e63  !important;
  background-color:#efebe9 !important;
  border-color: #d7ccc8 !important;
  border-style: solid !important;
  border-width: thin !important;

}

body{
  font-weight: lighter;
}



h1{
  font-family: 'Rotters' !important;
}

input[type="submit"]{
  color:#efebe9  !important;
  background-color: #8d6e63 !important;
  border-color: #d7ccc8 !important;
  border-style: solid !important;
  border-width: thin !important;
  border-style: none !important;


}

.hideme
{
    opacity:0;
}
nav{

}

.space{
  margin-bottom: 50px;
  margin-top: 50px;
}

#memories{
  height:75vh !important;
}
#gallery{
  height:50vh !important;
}
#about{
  height:100vh !important;
}

#grid img{
  width:24.5%;
  opacity: 0.5;


}
#map{
  background-blend-mode: luminosity;
  opacity: 0.6;

}

#map:hover{
  opacity: 1;

}
